@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
    margin: 20px;
}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;

}

nav {
    width: 600px;
}

.heart {
    letter-spacing: 0.015625em;
    display: inline-flex;
    color: #000000
}

nav ul {
    padding-left: 0;
    padding-right: 2rem;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 30px;
    margin-right: 0.5rem;
    margin-left: 1rem;

}

.npm-logo {
    height: 45px;
}

.flex {
    width: 100%;
    display: flex;
}

#npmLogo {

    height: 45px;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

}

.searchbardiv {
    color: black;
    height: 50px;

    float: left;
}

.searchBar {
    display: inline-flex;

    border-width: 0.5px;
    font-size: 20px;
    text-align: left;
    float: right;
}

.barAndButton {
    display: inline-flex;
    justify-content: center;

    height: 80%;
    padding: 5px;
    position: relative;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 6px;
    margin-left: 16;
    border: none;
    cursor: pointer;
}

.search-button {

    color: white;
    background-color: red;
    font-size: 22px;

    border-width: 2px;
}

.join-button {

    color: darkslategray;
    background-color: white;
    justify-content: space-around;

    margin-left: 1px;
    font-size: 22px;
    padding: 1px 3px;
    border-color: darkgray;
    border-top: black solid;
    border-width: 1.5px;
}

.loggin-button {

    color: darkslategray;
    background-color: white;

    margin-left: 1px;
    font-size: 22px;
    padding: 1px 3px;
    border: white;
}

.section-1 {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 9rem;
    text-align: center;
    float: center;
    background-color: rgba(232, 217, 217, .3);
    margin-top: 8rem;
    margin-bottom: 1rem;

}


h1 {
    align-items: center;
    font-size: 4rem;
    font-style: bold;
    justify-content: center;
    ;

}

p {
    font-size: 25px;
    padding-bottom: 2em;
}

.see-plans-button {

    color: white;
    background-color: red;
    font-size: 18px;
    font-weight: 800;
    width: 20%;
    border-style: black solid;
    line-height: 2.5em;
    margin-right: 2em;
    font-size: 20px;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, .2)
}



.join-for-free-button {
    color: black;
    background: white;
    font-size: 18px;
    font-weight: 800;
    width: 20%;
    border-style: black solid;
    line-height: 2.5em;
    font-size: 20px;

}

.section-2 {
    /* background-color: rgba(232, 217, 217, .3); */
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 6rem;
    text-align: center;
    float: center;
    margin-bottom: 1rem;

}

.section-2>div>h3 {
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 2rem;


}

.section-2>.wrapper-items>p {
    font-size: 16px;
    text-align: center;
    margin-right: 10rem;
    margin-left: 10rem;

}

.section-3 {
    /* background-color: rgba(232, 217, 217, .3); */
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 6rem;
    text-align: center;

}

.flex-container {
    display: flex;
    padding-left: 1rem;
    justify-content: center;
    box-sizing: border-box;
    word-wrap: keep-all;
    margin-right: 4rem;
    margin-left: 4rem;

}

.section-3>.flex-container>.section-3-items>h5 {
    color: red;
    text-align: left;
    word-wrap: keep-all;
    margin-right: 4rem;
    margin-left: 4rem;
}

.section-3>.flex-container>.section-3-items>p {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    word-wrap: keep-all;
    margin-right: 4rem;
    margin-left: 4rem;


}

.create-org-button {
    background-color: black;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    color: white;
    box-shadow: 7px 7px 0 rgba(0, 0, 0, 0.2);
    width: 20rem;
    height: 3.5rem;
    margin-top: 3rem;
}