@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins', sans-serif;
    margin: 1.5rem;
    padding: 1px 1px;
    box-sizing: border-box;

}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;

}

nav {
    width: 600px;
}

.heart {
    letter-spacing: 0.015625em;
    display: inline-flex;
    color: #000000
}

nav ul {
    padding-left: 0;
    padding-right: 2rem;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 30px;
    margin-right: 0.5rem;
    margin-left: 1rem;
}

.header-container {
    display: grid;
    grid-row-gap: 10px;
    height: 55px;
    width: 100%;
    background-color: ;
    border-left: 2px;
    border-right: 2px;
    grid-template-columns: 0.5fr 7fr 1fr;
    column-gap: 10px;
    align-content: center;
    justify-content: center;
    padding-bottom: 1px;
    text-align: center;
    align-items: center;
}

.logo-image {}

.search-nav {
    display: grid;
    grid-template-columns: 7fr 1fr;

}

.searchBar {
    font-size: 16px;
    font-weight: 400;
    padding-left: 1rem;
    text-align: left;

}

.search-button {
    color: white;
    background-color: red;
    font-size: 10px;
    font-weight: 400;
    width: 100%;
    line-height: 2.5em;
    font-size: 16px;
}



.join-loggin-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    height: 30px;

}

.join-loggin-buttons>.join-button {
    color: black;
    background-color: rgb(248, 241, 241);
    border-top: 1px solid black;
    font-weight: 400;
    font-size: 16px;


}

.join-loggin-buttons>.loggin-button {
    color: black;
    background-color: rgba(247, 241, 241, 0.1);
    font-weight: 400;
    font-size: 16px;
}



.section-1 {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 9rem;
    text-align: center;
    float: center;
    background-color: rgba(232, 217, 217, .3);
    border-top: lightgrey thin solid;

}


h1 {
    align-items: center;
    font-size: 4rem;
    font-style: bold;
    justify-content: center;
    ;

}

p {
    font-size: 25px;
    padding-bottom: 2em;
}

.see-plans-button {

    color: white;
    background-color: red;
    font-size: 18px;
    font-weight: 800;
    width: 20%;
    border-style: black solid;
    line-height: 2.5em;
    margin-right: 2em;
    font-size: 20px;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, .2)
}



.join-for-free-button {
    color: black;
    background: white;
    font-size: 18px;
    font-weight: 800;
    width: 20%;
    border-style: black solid;
    line-height: 2.5em;
    font-size: 20px;
    padding-right: 10px;

}

.section-2 {
    /* background-color: rgba(232, 217, 217, .3); */
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 6rem;
    text-align: center;
    float: center;
    margin-bottom: 1rem;

}

.section-2>div>h3 {
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 2rem;


}

.section-2>.wrapper-items>p {
    font-size: 16px;
    text-align: center;
    margin-right: 10rem;
    margin-left: 10rem;

}

.section-3 {
    /* background-color: rgba(232, 217, 217, .3); */
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 6rem;
    text-align: center;

}

.flex-container {
    display: flex;
    padding-left: 1rem;
    justify-content: center;
    box-sizing: border-box;
    word-wrap: keep-all;
    margin-right: 4rem;
    margin-left: 4rem;

}

.section-3>.flex-container>.section-3-items>h5 {
    color: red;
    text-align: left;
    margin-right: 4rem;
    margin-left: 4rem;
}

.section-3>.flex-container>.section-3-items>p {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    word-wrap: keep-all;
    margin-right: 4rem;
    margin-left: 4rem;


}

.create-org-button {
    background-color: black;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    color: white;
    box-shadow: 7px 7px 0 rgba(0, 0, 0, 0.2);
    width: 20rem;
    height: 3.5rem;
    margin-top: 3rem;
}